<script>
function showError(error) {
    $.sticky(error, {'autoclose': false, type: 'st-error'});
}
function showInfo(message) {
    $.sticky(message, {'autoclose': 3000, type: 'st-info'});
}
function showErrors(errors) {
    for(var i = 0; i < errors.length; i++) {
        showError(errors[i]);
    }
}
function showFieldErrors(fieldErrors) {
    var fieldNames = Object.keys(fieldErrors);
    for(var i = 0; i < fieldNames.length; i++) {
        // http://getbootstrap.com/css/#forms-control-validation
        $("[name='"+fieldNames[i]+"']").closest('div').addClass("has-error");
    }
}
function removeAllFieldErrors() {
    $(".has-error").removeClass("has-error");
}
function submitWithValidation(htmlFormId) {
    if(!$(htmlFormId).valid()) {
        return;
    }

    {% if needs_ajax_validation %}
    // get form action
    var form_action_url = $(htmlFormId).attr('action');
    if(typeof form_action_url == 'undefined') {
        form_action_url = "";
    }

    // get GET parameters
    var get_parameters;
    var has_get_parameters = form_action_url.indexOf('?') != -1;
    if(has_get_parameters) {
        get_parameters = queryString.parse(form_action_url.substr(form_action_url.indexOf("?")));
        form_action_url = form_action_url.substr(0, form_action_url.indexOf("?"));  //remove GET parameters
    } else {
        get_parameters = {};
    }
    // add 'ajax_validation' parameter
    get_parameters.ajax_validation = 1;

    // set form_action_url with new parameters
    form_action_url += "?" + queryString.stringify(get_parameters);

    $.ajax({
        type: 'POST',
        url: form_action_url,
        dataType: "json",
        data: $(htmlFormId).serialize(),
        beforeSend: function() {
            showInfo("{{ validation_in_progress_message }}");
            removeAllFieldErrors();
            //TODO: Remove previous stickies
        },
        error: function() {
            showError("{{ validation_fail_message }}");
        },
        success: function(response) {
            var has_errors = false;

            if('errors' in response) {
                showErrors(response.errors);
                has_errors = true;
            }

            if('field_errors' in response) {
                showFieldErrors(response.field_errors);
                has_errors = true;
            }

            if(!has_errors) {
                $(htmlFormId).submit();
            }
        }
    });
    {% else %}

    $(htmlFormId).submit();

    {% endif %}
}
$(function () {
    var htmlFormId = '#{{form_id }}';
    $(htmlFormId).validate({
        onkeyup: false,
        errorClass: 'error',
        validClass: 'valid',
        highlight: function(element) {
            // http://getbootstrap.com/css/#forms-control-validation
            $(element).closest(".form-group").addClass("has-error");
        },
        unhighlight: function(element) {
            // http://getbootstrap.com/css/#forms-control-validation
            $(element).closest(".form-group").removeClass("has-error");
        },
        errorPlacement: function(error, element) {
            var errorElem = $("<div class='help-block'></div>").append(error);
            $(element).closest(".form-group").append(errorElem);
        },
        invalidHandler: function(form, validator) {
            showError("{{ validation_error_message }}");
        },
        ignore: [],
        rules: {{ rules|safe }},
        messages: {{ messages|safe }}
    });

    $(htmlFormId).children("[type='submit']").click(function(event) {
        event.preventDefault();
        submitWithValidation(htmlFormId);
    });
});
</script>