{% load jquery_validation template_element %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Forms Edit View</title>
</head>
<body>
<h2>Edit Object</h2>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% render_template_element form %}

{{ form.render_js|safe }}
</body>
</html>